{% extends "clientes/inicio.html" %}

{% block titulo %} Actualizar Producto {%endblock%}

{% block CardSection %} {% endblock %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4" style="width: 35rem;">
        <h3 class="text-center mb-4">Actualizar Producto</h3>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            
            <div class="d-flex justify-content-between mt-4">

                <a href="{% url 'productos_list' %}" class="btn btn-secondary">
                    Cancelar
                </a>

                <button type="submit" class="btn btn-primary w-100">Guardar</button>

            </div>
            
        </form>
    </div>
</div>

{% endblock %}