{% extends "clientes/inicio.html" %}

{% block titulo %} Agregar Producto {%endblock%}

{% block CardSection %} {% endblock %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4" style="width: 35rem;">
        <h3 class="text-center mb-4">➕ Nuevo Producto</h3>

        <form method="POST" action="{% url 'crear_producto' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="mb-3">
                <label class="form-label">Cod. Producto</label>
                {{ form.cod_producto }}
                {% if form.cod_producto.errors %}
                <div class="text-danger small">
                    {{ form.cod_producto.errors }}
                </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                {{ form.descripcion }}
                {% if form.descripcion.errors %}
                <div class="text-danger small">
                    {{ form.descripcion.errors }}
                </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label">Precio</label>
                {{ form.precio }}
                {% if form.precio.errors %}
                <div class="text-danger small">
                    {{ form.precio.errors }}
                </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label">Cantidad</label>
                {{ form.cantidad }}
                {% if form.cantidad.errors %}
                <div class="text-danger small">
                    {{ form.cantidad.errors }}
                </div>
                {% endif %}
            </div>

            <div class="d-flex justify-content-between mt-4">

                <a href="{% url 'productos_list' %}" class="btn btn-secondary">
                    Cancelar
                </a>

                <button type="submit" class="btn btn-art">
                    Confirmar
                </button>

            </div>

        </form>

    </div>
</div>

{% endblock %}