{% extends "base.html" %}

{% block titulo %}Productos{% endblock %}

{% block content %}

<div class="container mt-5">

<h2 class="mb-4 text-center">Productos</h2>

<a href="{% url 'crear_producto' %}" class="btn btn-art mb-3">
➕ Nuevo Producto
</a>

<div class="row g-4">

{% for producto in productos %}

<div class="col-md-4">
    <div class="card p-3">
        <h5>{{ producto.descripcion }}</h5>
        <p><strong>Código:</strong> {{ producto.cod_producto }}</p>
        <p><strong>Precio:</strong> ${{ producto.precio }}</p>
        <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
    </div>
</div>

{% endfor %}

</div>

</div>

{% endblock %}