<div class="mb-3">
    <label class="form-label">N° Proveedor</label>
    {{ form.nro_proveedor }}
    <div class="text-danger small">{{ form.nro_proveedor.errors }}</div>
</div>

<div class="mb-3">
    <label class="form-label">Nombre</label>
    {{ form.nombre }}
    <div class="text-danger small">{{ form.nombre.errors }}</div>
</div>

<div class="mb-3">
    <label class="form-label">CUIT</label>
    {{ form.cuit }}
    <div class="text-danger small">{{ form.cuit.errors }}</div>
</div>

<div class="mb-3">
    <label class="form-label">Email</label>
    {{ form.email }}
    <div class="text-danger small">{{ form.email.errors }}</div>
</div>