{% extends "clientes/inicio.html" %}

{% block titulo %}Proveedores{% endblock %}

{% block content %}

<div class="container mt-5">

<h2 class="mb-4 text-center">Proveedores</h2>

<a href="{% url 'crear_proveedor' %}" class="btn btn-art mb-3">
➕ Nuevo Proveedor
</a>

<div class="row g-4">

{% for proveedor in proveedores %}

<div class="col-md-4">
    <div class="card p-3">
        <h5>{{ proveedor.nombre }}</h5>
        <p><strong>N°:</strong> {{ proveedor.nro_proveedor }}</p>
        <p><strong>CUIT:</strong> {{ proveedor.cuit }}</p>
        <p><strong>Email:</strong> {{ proveedor.email }}</p>
    </div>
</div>

{% endfor %}

</div>

</div>

{% endblock %}